.select-wrapper {
  display: flex;
  max-width: 600px;
  flex-wrap: wrap;
  align-content: space-between;
}
.select-wrapper > span{
  width: 25%;
  margin-bottom: 8px;
}
#reset {
  margin-right: 16px;
}
